.root {
    -fx-font-family: Consolas;
}

.margin-10 {
    -fx-padding: 10px;
    -fx-border-insets: 10px;
    -fx-background-insets: 10px;
}
.margin-15v {
    -fx-padding: 15px;
    -fx-border-insets: 15px;
    -fx-background-insets: 15px;
}

.combo-box {
    -fx-pref-height: 25;
    -fx-pref-width: 200;
}

.scroll-pane {
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
    -fx-pannable: true;
    -fx-background-color: #666666;
    -fx-hbar-policy: NEVER;
    -fx-vbar-policy: NEVER;
}

.border-pane, border-pane-header {
    -fx-background-color: #666666;
    -fx-min-width: 800;
    -fx-min-height: 720;
    -fx-pref-height: 1080;
    -fx-pref-width: 1920;
    -fx-max-height: 1080;
    -fx-max-width: 1920;
    -fx-content-display: center;
    -fx-alignment: center;
}

.grid-pane {
    -fx-vgap: 2px;
    -fx-hgap: 10px;
}

.grid-pane-row {
    -fx-pref-height: 30;
}

.side-pane {
    -fx-background-color: #555555;
    -fx-pref-width: 350;
    -fx-max-height: 10000;
    -fx-padding: 15px;
    -fx-spacing: 5px;
}
.vbox-tab {
    -fx-background-color: #555555;
    -fx-pref-width: 350;
    -fx-max-height: 10000;
    -fx-padding: 10px;
    -fx-spacing: 5px;
}

.border-pane-header {
    -fx-min-height: 50;
    -fx-max-height: 50;
}

.label-default {
    -fx-text-fill: white;
}

.label-error {
    -fx-text-fill: red;
}

.label-info {
    -fx-text-fill: cyan;
}

.label-h1 {
    -fx-font-size: 64px;
    -fx-text-fill: white;
}
.label-h2 {
    -fx-font-size: 28px;
    -fx-text-fill: white;
}
.label-h3 {
    -fx-font-size: 18px;
    -fx-text-fill: white;
}

.label-header, label-h1, label-h2, label-h3 {
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-content-display: center;
    -fx-text-alignment: center;
}
.button {
    -fx-alignment: center;
    -fx-text-fill: black;
    -fx-text-alignment: center;
    -fx-font-size: 14px;
}

.button-big {
    -fx-font-size: 20px;
}

.button-small {
    -fx-font-size: 11px;
}

.button-huge {
    -fx-font-size: 32px;
    -fx-fill-width: true;
    -fx-fill-height: true;
    -fx-pref-height: 90px;
    -fx-max-height: 1000px;
    -fx-max-width: 1000px;
}

.button-cancel {
    -fx-min-height: 50px;
    -fx-max-height: 50px;
    -fx-min-width: 80px;
    -fx-max-width: 80px;
}

.hbox-main-menu {

}

.vbox-main-menu {
    -fx-max-height: 500;
    -fx-max-width: 300;
    -fx-pref-height: 500;
    -fx-pref-width: 300;
    -fx-alignment: CENTER;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}