.root {
    -fx-font-family: Consolas;
}

.border-pane, border-pane-header {
    -fx-background-color: #666666;
    -fx-min-width: 800;
    -fx-min-height: 720;
    -fx-pref-height: 1080;
    -fx-pref-width: 1920;
    -fx-max-height: 1080;
    -fx-max-width: 1920;
    -fx-content-display: center;
    -fx-alignment: center;
}

.border-pane-header {
    -fx-min-height: 50;
    -fx-max-height: 50;
}

.label {
    -fx-text-fill: white;
}

.label-header, label-h1, label-h2 {
    -fx-alignment: center;
    -fx-content-display: center;
    -fx-text-alignment: center;
}

.label-h1 {
    -fx-font-size: 64px;
}
.label-h2 {
    -fx-font-size: 28px;
}

.button {
    -fx-alignment: center;
    -fx-text-fill: black;
    -fx-text-alignment: center;
    -fx-font-size: 14px;
}

.button-big {
    -fx-font-size: 20px;
}

.button-huge {
    -fx-font-size: 32px;
    -fx-fill-width: true;
    -fx-fill-height: true;
    -fx-pref-height: 90px;
    -fx-max-height: 1000px;
    -fx-max-width: 1000px;
}

.button-cancel {
    -fx-min-height: 30px;
    -fx-max-height: 30px;
    -fx-min-width: 60px;
    -fx-max-width: 60px;
}

.hbox-main-menu {

}

.vbox-main-menu {
    -fx-max-height: 500;
    -fx-max-width: 300;
    -fx-pref-height: 500;
    -fx-pref-width: 300;
    -fx-alignment: CENTER;
}

.tab-pane {
    -fx-background-color: #666666;
}